<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
  <div class="max-width bg-[white] h-screen stopHeight:min-h-[650px]">
  <div class="w-full h-[100%] flex flex-col justify-center bg-white items-center gap-10 overflow-auto stopHeight:gap-0 stopHeight:min-h-[650px]">
    <!-- {{!-- section 1 --}} -->
    <div class=" h-[100%] flex justify-center items-end stopHeight:h-auto">

    <div class="text-4xl font-semibold text-cente pb-10">Create Account</div>

    </div>


    <!-- {{!-- section 2 --}} -->
    <div class=" h-[100%] flex justify-center items-center stopHeight:h-auto">

    <div class="w-[250px] bg-[#216FB6] p-10 rounded-[12px] sm:w-[300px] md:w-[360px]">
<!-- {{!-- onsubmit="return signupSubmit(this)" --}} -->
      <form action="/signup" method="post" onsubmit="signupSubmit(event)" class="flex flex-col justify-center items-center w-[100%] gap-5">
        <input type="text" class="fname" name="fname" required placeholder="First name">
        <input type="text" class="lname" name="lname" required placeholder="Last name">
        <input type="email" class="email" name="email" required placeholder="Email">
        <input type="password" class="password" name="password"required placeholder="password" minlength='8'>
        <div>
          <br>
        <input class="bg-white text-slate-700 cursor-pointer text-center p-2 px-12" type="submit" name="submit">
        </div>
      </form>
    </div>

    </div>

    <!-- {{!-- section 3 --}} -->
  <div class=" h-[100%] stopHeight:h-auto">
    <div class="pt-10 flex flex-col justify-center items-center gap-4">
      <h2 class="text-center">Already have an account</h2>
      <a href="/login" class="bg-[#216FB6] p-2 px-5 rounded-[3px] font-semibold text-[#ffffffe0] cursor-pointer">Login</a>
    </div>
  </div>


  </div>
  </div>

  <div class="loader-container">

    <!-- //custon message -->
    <div class="w-[250px] h-[250px] bg-[#f0f0f0] p-5 relative rounded-lg flex flex-col justify-start hidden msg">
      
      <span class="absolute right-0 top-0 p-2 text-xl" onclick="close_msg()">
        <i class="bi bi-x"></i>
      </span>

      <div class="text-center">
        <h1 class="text-2xl font-semibold">Oops!</h1>
      </div>
      <div class="h-[100%] flex justify-center items-center">
        <p class="text-xl actual_msg text-center">message </p>
      </div>

    </div>

    <!-- username container  -->
    <div class="username-container w-[280px] h-[300px] bg-[#f0f0f0] p-5 relative rounded-lg flex flex-col justify-start hidden">
      <span class="absolute right-0 top-0 p-2 text-xl" onclick="close_username()">
        <i class="bi bi-x"></i>
      </span>

    <h1 class="font-semibold text-center text-[23px]">Set a Username</h1>
    <br>
    <br>
    <input type="text" name="username" class="username-inp bg-[#fffffff3] text-black placeholder:text-[#00000061]" placeholder="ex:pratik_98">
    <br>
    <span class="user-msg text-center text-rose-500"></span>
    <br>
    <br>
    <button class="bg-[#216FB6] w-fit mx-auto p-2 px-5 rounded-md text-[#ffffff] font-semibold" onclick="usernameCheck()">Keep</button>
    </div>

    <!-- loading anim  -->
    <div class="lds-ellipsis hidden"><div></div><div></div><div></div><div></div></div>
  </div>

<script src="js/general.js"></script>
<script defer src="js/signup.js"></script>
</body>
</html>