*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition-duration: 150ms;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
.cpp{
}
body{
    background-color: #ffffff;
}
.c{
  left: 0%;
transform: translateX(0%);
transition-duration: .5s;
}
#b:checked ~ .c{
left: 100%;
transform: translateX(-100%);

}
.max-width{
    width: 100%;
    position: relative;
    max-width: 1200px;
    /* text-align: center; */
    margin: auto;
    padding:0 10px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    padding: 12px 20px;
    outline: none;
    border-radius: 8px;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.56); */
}


.oc-page-anim{
transform: translateX(100%);
z-index: -1; 
/* transform: ; */
/* transition-duration: 1s; */
 /* transition-duration: 200ms;
 */
 /* transition-duration: 2s; */
 /* top: 100%; */
}

.search-container{
}

.chat-person:hover{
  background-color: #00000012;
}
.chat-person:active{
  background-color: #00000012;
}

.chat-people-list{
align-items: center;
}
.chat-person{
  width: 100%;
  max-width: 510px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 16px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px ;
  background-color:#2015150b;
  
}
.chat-i{
  font-size: 40px;
  color: #216FB6;
}
.chat-name{
  font-size: 20px;
  font-weight: 600;
  opacity: 0.75;
}
.chat-username{
  font-size: 14px;
}
.user{
  display: none;
}
/* loader animation  */

.loader-container{
    background-color: #0000005f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.text-area::placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-area{
  outline: none;
  /* padding-top:13px; */
  resize: none;
  /* height: 50px; */
  border-radius: 5px;
  /* padding: 10px 10px; */

}
.recievers-msg{
  background-color: #00000012;
  padding: 15px;
  border-radius: 10px 0px 10px 10px;
  word-wrap: break-word;
  max-width: 50%;
  margin: 10px 0;
  
}
.senders-msg{
  background-color: #216eb62e;
  border-radius: 0px 10px 10px 10px;
  word-wrap: break-word;
  padding: 15px;
  max-width: 50%;
  margin: 10px 0;

}
.chat-msg-container::-webkit-scrollbar{
  display: none;
}
.lds-ellipsis {
    /* display: inline-block; */
    position: relative;
    width: 80px;
    height: 80px;
    /* display: none; */

  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  